<div class="mdl-grid">
  <% if user_signed_in? %>
    <%= link_to "New Article", new_article_path, class: "mdl-button
      mdl-js-button mdl-button--raised mdl-js-ripple-effect
      mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop
      mdl-cell--6-col-tablet mdl-cell--1-offset-tablet
      mdl-cell--4-col-phone", id: "article-index-new-article-link" %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: "mdl-button
      mdl-js-button mdl-button--raised mdl-js-ripple-effect
      mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop
      mdl-cell--6-col-tablet mdl-cell--1-offset-tablet
      mdl-cell--4-col-phone", id: "article-index-sign-in" %>
  <% end %>
</div>
<% if @articles.empty? %>
  <div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-shadow--3dp
      mdl-cell--8-col-desktop mdl-cell--2-offset-desktop
      mdl-cell--6-col-tablet mdl-cell--1-offset-tablet
      mdl-cell--4-col-phone">
      <div class"mdl-card__title">
        <h3 id="no-articles">No Articles Created Yet.</h3>
      </div>
      <div class="mdl-card__supporting-text center-block">
        <% if user_signed_in? %>
          <h5>Click <%= link_to "New Article", new_article_path, id: "article-index-first-new-article-link" %> to create one</h5>
        <% else %>
          <h5>
            <%= link_to "Sign In", new_user_session_path,
              id: "article-index-first-article-sign-in" %>
            or
            <%= link_to "Sign Up", new_user_registration_path,
              id: "article-index-first-article-sign-up" %>
            to create one
          </h5>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="mdl-grid">
    <% @articles.each do |art| %>
      <div class="mdl-cell mdl-cell--4-desktop mdl-card mdl-shadow--3dp">
        <div class"mdl-card__title">
          <h4><%= link_to art.title, article_path(art), class: "pull-right" %></h4>
        </div>
        <div class="mdl-card__supporting-text center-block">
          <p>
            <%= truncate(art.body, length: 500) %><br />
          </p>
          <small>
            Created By: <%= art.user.email %><br />
            Last Updated: <%= art.updated_at.strftime("%B %e, %Y") %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
