<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--3dp mdl-cell
    mdl-cell--2-offset-desktop mdl-cell--8-col-desktop
    mdl-cell--1-offset-tablet mdl-cell--6-col-tablet
    mdl-cell--6-col-phone">
    <div class="mdl-card__title">
      <h1><%= @article.title %></h1>
    </div>
    <div class="mdl-card__supporting-text">
        <p>
          <%= @article.body %>
        </p><br />
        <small>Last Updated: <%= @article.updated_at.strftime("%B %e, %Y") %></small>
        <% if user_signed_in? && current_user.email == @article.user.email %>
          <%= link_to "Edit Article", edit_article_path(@article),class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right" %>
          <%= link_to "Delete Article", article_path(@article), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right", method: :delete, data: { confirm: "Are you sure you want to delete article?" } %>
        <% end %>
    </div>
  </div>
</div>
