<div id"message-box" class="mdl-grid">
  <div class="mdl-card mdl-shadow--3dp mdl-cell
    mdl-cell--2-offset-desktop mdl-cell--8-col-desktop
    mdl-cell--1-offset-tablet mdl-cell--6-col-tablet
    mdl-cell--6-col-phone">
    <div class="mdl-card__title">
      <h1><%= @article.title %></h1>
    </div>
    <div class="mdl-card__supporting-text">
        <p>
          <%= @article.body %>
        </p><br />
        <small>Last Updated: <%= @article.updated_at.strftime("%B %e, %Y") %></small>
        <% if user_signed_in? && current_user.email == @article.user.email %>
          <%= link_to "Edit Article", edit_article_path(@article),class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right" %>
          <%= link_to "Delete Article", article_path(@article), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right", method: :delete, data: { confirm: "Are you sure you want to delete article?" } %>
        <% end %>
    </div>
  </div>
</div>
<!-- Comments -->
<hr />
<%= form_for [@article, @comment], remote: true,
:html => {class: "", role: "form"} do |f| %>
  <% if @comment.errors.any? %>
    <%= render "articles/comment_errors" %>
  <% end %>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop
      mdl-cell--1-offset-tablet mdl-cell--6-col-tablet
      mdl-cell--6-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_area :body, id: "comment-body", class: "mdl-textfield__input", rows: 10 %>
        <%= f.label :body, "New Comment", class: "mdl-textfield__label", for: "comment-body" %>
    </div>
  </div>
  <div class="mdl-grid">
    <%= f.submit "Add Comment",
      class: "mdl-button mdl-js-button mdl-button--raised
        mdl-button-colored mdl-js-ripple-effect mdl-cell
        mdl-cell--4-col-desktop mdl-cell--4-offset-desktop
        mdl-cell--2-offset-tablet mdl-cell--4-col-tablet
        mdl-cell--4-col-phone" %>
  </div>
<% end %>

<% if @article.comments.any? %>
  <div id="messages">
      <% persisted_comments(@comments).each do |comment| %>
      <%= comment.body %>
      <%= time_ago_in_words(comment.created_at) %>
      ago <br  />
      by <%= comment.user.email %>
    <% end %>
  </div>
<% else %>
  <h3>There are no comments</h3>
<% end %>
