<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to "All Articles", articles_path, class: "mdl-navigation__link" %>
        <%= link_to "New Article", new_article_path, class: "mdl-navigation__link" %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "mdl-navigation__link", id: "nav-bar-sign-out", method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "mdl-navigation__link", id: "nav-bar-sign-up" %>
        <% end %>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <%= link_to "All Articles", articles_path, class: "mdl-navigation__link" %>
      <%= link_to "New Article", new_article_path, class: "mdl-navigation__link" %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, class: "mdl-navigation__link", id: "nav-drawer-sign-out", method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "mdl-navigation__link", id: "nav-drawer-sign-up" %>
      <% end %>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
